<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Styles: Main -->
        <link rel="stylesheet" type="text/css" href="../styles/main.css" />

        <!-- Scripts: Main -->
        <link rel="preload" as="script" href="../scripts/main.js">
        <script type="module" src="../scripts/main.js" defer="defer"></script>

        <title>Annette Cliff: Web Developer</title>
    </head>
    <body>
        <a href="#mainContent" aria-hidden="true" title="Skip to main content">Skip to main content</a>
        
        <header id="header"></header>
        
        <main id="mainContent">
            <section id="sectionAbout"></section>
            <section id="sectionPortfolio"></section>
            <section id="sectionContact"></section>
        </main>          
        
        <footer id="footer"></footer>
    </body>
</html>