<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Annette Cliff: Web Developer</title>

        <!-- SEO -->
        <meta name="description" content="Annette Cliff is an experienced front-end web developer who specializes in building Shopify themes.">

        <!-- Favicon -->
        <link rel="icon" href="../assets/favicon/favicon.png" type="image/x-icon" defer>

        <!-- Styles: Main -->
        <link rel="stylesheet" type="text/css" href="../styles/main.css" />

        <!-- Scripts: Main -->
        <script type="module" src="../scripts/main.js" defer="defer"></script>

        <!-- Scripts: Web3Forms -->
        <script src="https://web3forms.com/client/script.js" async defer></script>

        <!-- Fonts: Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Chonburi&display=swap" rel="stylesheet">
    </head>

    <body>
        <a href="#mainContent" aria-hidden="true" title="Skip to the main content of the page" class="button__main-content">Skip to main content</a>

        <header class="section__header">
            <h1 class="logo"><a href="../layout/index.html" title="Navigate to home page"><span>ac</span></a></h1>
            <div id="clock">
                <div class="grid grid__columns-2">
                    <span class="span-2">12</span><span>9</span><span class="justify-end">3</span><span class="span-2">6</span>
                </div>
                <div class="hand" id="hour"></div><div class="hand" id="minute"></div><div class="hand" id="second"></div>
            </div>
        </header>

        <main id="mainContent">
            <section id="about" class="section__about">
                <article class="section__banner">
                    <div id="hiddenIcons" class="section__hiddenIcons"></div>
                    <div class="wrapper__banner">
                        <h2>Hi! My name is Annette Cliff</h2>
                        <img src="../assets/favicon/annette.png" alt="Profile image of Annette" width="500" height="700">
                    </div>
                </article>
                <article class="title">
                    <h3 class="title__accent"><span class="title__light">web</span><span class="title__dark">developer</span></h3>
                </article>
            </section>

            <section id="portfolio" class="section__portfolio">
                <article id="portfolioGrid" class="portfolio__grid"></article>
                <article id="portfolioModal" class="portfolio__modal" tabindex="-1" role="dialog" aria-hidden="true"></article>
            </section>

            <section id="clients" class="section__client">
                <h5>Clients</h5>
                <div id="clientSlideshowButtons" class="client__slideshow-buttons"></div>
                <article id="clientSlideshow" class="client__slideshow"></article>
                <div class="dots"></div>
                <p>Please note, I have done a range of work for the clients above while employed at the following agencies: <a href="https://lemonade.nyc/" class="has-hover-state hover-state-dark" target="_blank" title="External link to Lemonade's website">Lemonade Creative</a> and <a href="https://fuelmade.com/" class="has-hover-state hover-state-dark" target="_blank" title="External link to Fuel Made's website">Fuel Made</a>.</p>
            </section>

            <section id="contact" class="section__contact">
                <h5>Contact</h5>
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="42371693-bfd7-471c-9564-c028450ab53e">
                    <div class="flex__wrapper">
                        <div class="input__wrapper half">
                            <label for="name">First Name</label>
                            <input id="name" type="text" aria-label="First Name" name="name" required>
                        </div>
                        <div class="input__wrapper half">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" aria-label="Email Address" name="email" required>
                        </div>
                    </div>
                    <div class="input__wrapper">
                        <label for="subject">Subject</label>
                        <input id="subject" type="text" aria-label="Subject" name="subject" required>
                    </div>
                    <div class="input__wrapper">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" autocorrect="true" rows="10" required></textarea>
                    </div>
                    <div class="button__wrapper">
                        <button type="submit">Submit Form</button>
                    </div>
                </form>         
            </section>
        </main>
        
        <footer>
            <div class="footer__links">
                <ul id="mainLinks" class="footer__navigation"><h6 class="footer__navigation-title">Main Links</h6></ul>
                <a href="" title="Navigate to the top of page" class="footer__logo"><div class="logo"><span class="footer__span"><span class="slash"></span> ac</span></div></a>
                <ul id="socialLinks" class="footer__navigation"><h6 class="footer__navigation-title">Social Links</h6></ul>
            </div>
            <copyright>@copyright Annette Cliff <span id="copyrightYear"></span></copyright>
        </footer>

        <div id="scrollToTop" class="button__to-top" tabindex="0">To Top</div>
        <div id="accessibilityModal" class="accessibility__modal" tabindex="0"><span class="accessibility__text button__accessibility">A11Y</span><span class="accessibility__icon-close"></span></div>
    </body>
</html>