<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Annette Cliff: Web Developer</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.png">
        <link rel="icon" href="../assets/favicon.png" type="image/x-icon" defer>

        <!-- Styles: Main -->
        <link rel="stylesheet" type="text/css" href="../styles/main.css" />

        <!-- Scripts: Main -->
        <link rel="preload" as="script" href="../scripts/main.js">
        <script type="module" src="../scripts/main.js" defer="defer"></script>

        <!-- Scripts: Web3Forms -->
        <script src="https://web3forms.com/client/script.js" async defer></script>
    </head>

    <body>
        <a href="#mainContent" aria-hidden="true" title="Skip to the main content of the page" class="visually-hidden button main-content">Skip to main content</a>
        
        <header>
            <h1 class="logo"><span>ac</span></h1>
        </header>
        
        <main id="mainContent">
            <section id="about">
                <article id="banner">
                    <div class="wrapper">
                        <h2>Hi! My name is Annette Cliff</h2>
                        <img src="/assets/annette.png" alt="Profile image of Annette" width="500" height="700">
                    </div>
                </article>
                <article class="title">
                    <h3 class="title-accent"><span class="light">web</span><span class="dark">developer</span></h3>
                </article>
            </section>

            <section id="portfolio">
                <article id="portfolioGrid" class="large--grid flex flex-column columns-2"></article>
            </section>

            <article id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true"></article>

            <section id="clients">
                <article id="clientSlideshow" class="slideshow"></article>
            </section>

            <section id="contact">
                <h5>Contact</h5>
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="49e276a1-6fbf-43a9-a256-c471115e773b">
                    <div class="flex large--flex-row flex-column justify-between">
                        <div class="flex flex-column large--width-50">
                            <label for="name">First Name</label>
                            <input id="name" type="text" aria-label="First Name" name="name" required>
                        </div>
                        <div class="flex flex-column large--width-50">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" aria-label="Email Address" name="email" required>
                        </div>
                    </div>
                    <div class="flex flex-column">
                        <label for="subject">Subject</label>
                        <input id="subject" type="text" aria-label="Subject" name="subject" required>
                    </div>
                    <div class="flex flex-column">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" autocorrect="true" rows="10" required></textarea>
                    </div>
                    <div class="button-wrap">
                        <button type="submit" class="button">Submit Form</button>
                    </div>
                </form>         
            </section>
        </main>          
        
        <footer>
            <div class="flex">
                <ul id="mainLinks"><h6>Main Links</h6></ul>
                <div class="logo"><span>ac</span></div>
                <ul id="socialLinks"><h6>Social Links</h6></ul>
            </div>
            <copyright>@copyright Annette Cliff <span id="year"></span></copyright>
        </footer>

    </body>
</html>