// styles/main.scss 


// --- Resets --- //
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Chonburi&display=swap');


// --- Sass Variables -------------------- //

// Colors
$color-dark: #084DB5;
$color-light: #E2ECFB;


// Font families
$font-base: "Anonymous Pro";
$font-title: "Chonburi";


// Wrapper 
$wrapper--large: 2.2rem;
$wrapper--medium: 2rem;
$wrapper--small: 1.5rem;


// --- Sass Mixins ----------------------- //
$breakpoints: (
  'small':  500px,
  'medium': 767px,
  'large':  1024px
) !default;


@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}

// --- Sass Extends ---------------------- //

// Displays
.hide {
    display: none !important;
}

.block,
%block {
    display: block;
}

.inline-block,
%inline-block {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

@include breakpoint('medium') {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}


// Position
.relative,
%relative {
    position: relative;
}

.absolute,
%absolute {
    position: absolute;
}

.inherit,
%inherit {
    position: inherit;
}

.initial,
%initial {
    position: initial;
}

.fixed,
%fixed {
    position: fixed;
}


// Flex
.flex,
%flex {
    display: flex;
}

.flex-column,
%flex-column {
    flex-direction: column;
}

.flex-wrap,
%flex-wrap {
    flex-wrap: wrap;
}

.justify-between,
%justify-between {
    justify-content: space-between;
}

.justify-around,
%justify-around {
    justify-content: space-around;
}

.justify-evenly,
%justify-evenly {
    justify-content: space-evenly;
}

.justify-center,
%justify-center {
    justify-content: center;
}

.justify-end,
%justify-end {
    justify-content: flex-end;
}

.justify-start,
%justify-start {
    justify-content: flex-start;
}

.items-center,
%items-center {
    align-items: center;
}

.items-end,
%items-end {
    align-items: flex-end;
}

.items-start,
%items-start {
    align-items: flex-start;
}

.align-self-center,
%align-self-center {
    align-self: center;
}

@include breakpoint('medium') {
    .large--flex-row {
        flex-direction: row;
    }
}


// Grid
.grid,
%grid {
    display: grid;
}

.columns-2,
%columns-2 {
    grid-template-columns: repeat(2,1fr);
}

.columns-3,
%columns-3 {
    grid-template-columns: repeat(3,1fr);
}


// Borders
.border,
%border {
    border: 2px solid $color-dark;
}


// --- Global ------------------------- //
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
}

html {
	font-size: 1rem;
    font-family: $font-base;
}

body {
    margin: 0;
}


// --- Wrappers ------------------------- //
.wrapper,
%wrapper {
    padding: 0 $wrapper--medium;
    @include breakpoint('medium') {
        padding: 0 $wrapper--small;
    }
    @include breakpoint('large') {
        padding: 0 $wrapper--large;
    }
}

.wrapper-top,
%wrapper-top {
    padding: $wrapper--medium 0;
    @include breakpoint('medium') {
        padding: $wrapper--small 0;
    }
    @include breakpoint('large') {
        padding: $wrapper--large 0;
    }
}


// --- Typography ------------------------- //
.heading-lg,
%heading-lg {
    font-size: clamp(2rem, 7vw, 3rem);
}

.heading-md,
%heading-md {
    font-size: clamp(1rem, 7vw, 1.1rem);
}

.heading-sm,
%heading-sm {
    font-size: clamp(0.5rem, 7vw, 1rem);
}

h1 {

}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    font-family: $font-title;
    color: $color-dark;
    @extend .heading-lg;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    @include breakpoint('medium') {
        font-size: 1rem;
    }
}

li {
    font-size: 1rem;
    @include breakpoint('medium') {
        font-size: 0.9rem;
    }
}


// --- Links ------------------------- //
a {
    color: $color-light;
    text-decoration: none;
    @extend %relative,
            %inline-block;
    &:after {
        content: '';
        @extend %block;
        border-bottom: 2px solid $color-light;
        transform: scaleX(0);  
        transform-origin: 0% 50%;
        transition: transform 250ms ease-in-out;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
    &:focus {
        outline: 3px solid $color-light;
        outline-offset: 1px;
    }
}


// --- Buttons ------------------------- //
.button {
    background: $color-dark;
    color: $color-light;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $color-dark;
    font-weight: 600;
    font-family: $font-base;
    letter-spacing: 1px;
    &:hover {
        background: $color-light;
        color: $color-dark;
        cursor: pointer;
    }
}

.button-wrap {
    text-align: center;
    margin: $wrapper--large 0;
    .button {
        width: 100%;
    }
    @include breakpoint('medium') {
        margin: $wrapper--large;
        .button {
            width: auto;
        }
    }
}


.main-content {
    &:focus {
        top: 30px;
        left: 30px;
        height: initial;
        width: inherit;
        margin: initial;
        clip: inherit;
        z-index: 2;
    }
}


// --- Inputs ------------------------- //
label {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
    @include breakpoint('medium') {
        font-size: 14px;
    }
}

input,
textarea {
    border: 1px solid $color-dark;
    border-radius: 2px;
    padding: 0.8rem;
    font-family: $font-base;
    &:focus {
        background: $color-light;
        color: $color-dark;
    }
}

textarea {
    resize: none;
}


// --- Logo ------------------------- //
.logo {
    font-size: 40px;
    line-height: 36px;
    order: 1;
    margin-bottom: 4rem;
    color: $color-light;
    @extend %align-self-center,
            %relative;
    &:before,
    &:after {
        left: -21px;
    }
    &:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    span {
        &:before,
        &:after {
            left: 43px;
        }
        &:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    @include breakpoint('medium') {
        margin-bottom: 0;
        font-size: 30px;
        span {
            &:before,
            &:after {
                left: 31px;
            }
        }
    }
}


.logo,
.logo span {
    &:before,
    &:after {
        content: '';
        width: 21px;
        height: 3px;
        background: $color-light;
        @extend %absolute;
    }
    &:before {
        top: 13px;
    }
    &:after {
        top: 27px;
    }
}


// --- Contact ------------------------- //
#contact {
    h5 {
        text-align: center;
    }
    form {
        padding: $wrapper--medium;
    }
    @include breakpoint('medium') {
        margin: 6rem 0;
        form {
            max-width: 700px;
            margin: 0 auto;
        }
        .large--width-50 {
            width: calc(50% - 3px);
        }
    }
}


// --- Footer ------------------------- //
footer {
    background: $color-dark;
    @extend %relative;
    * {
        color: $color-light;
    }
    &:before,
    &:after {
        content: '';
        @extend %absolute;
        background: $color-light;
        height: 4px;
        width: 100%;
    }
    &:before {
        top: 8px;
    }
    &:after {
        bottom: 8px;
    }
    .flex {
        @extend %flex,
                %flex-column,
                %items-start,
                %justify-between;
                padding: 2rem 2rem 0 2rem;
    }
    ul {
        order: 2;
        margin-bottom: 4rem;
    }
    h6,li {
        margin-bottom: 1rem;
    }
    copyright {
        @extend %block;
        text-align: center;
        padding: 2rem 0 1.5rem 0;
        font-size: 11px;
    }
    @include breakpoint('medium') {
        .flex {
            width: calc(100% - 4.2rem);
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            padding: 4rem 2rem 0;
        }
        ul {
            margin-bottom: 0;
        }
        ul,
        .logo {
            order: initial;
        }
    }
}