// styles/main.scss 


// --- Resets --- //
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


// --- Sass Variables -------------------- //

// Colors
$color-dark: #084DB5;
$color-medium: #c1d2ec;
$color-light: #E2ECFB;

$color-black: #222;
$color-black-medium: #ADAAAA;
$color-white: #fff;


// Font families
$font-base: "Anonymous Pro";
$font-title: "Chonburi";


// Wrapper 
$wrapper--xlarge: 4rem;
$wrapper--large: 2.2rem;
$wrapper--medium: 2rem;
$wrapper--small: 1.5rem;


// --- Sass Mixins ----------------------- //
$breakpoints: (
  'xsmall':  550px,
  'small':  561px,
  'medium': 767px,
  'large':  1024px
) !default;


@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}


@mixin large-flex-row {
    display: flex;
    flex-direction: column;
    @include breakpoint('medium') {
        flex-direction: row;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin items-center-justify-end {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

@mixin display-flex {
    display: flex;
}

@mixin large-flex {
    @include breakpoint('medium') {
        display: flex;
    }
}

@mixin large-grid {
    @include breakpoint('medium') {
        display: grid;
    }
}

@mixin display-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
}

@mixin width-height-100 {
    width: 100%;
    height: 100%;
}

@mixin top-left-0 {
    top: 0;
    left: 0;
}

@mixin absolute-top {
    position: absolute;
    top: 0;
}

@mixin margin-auto {
    margin: 0 auto;
}

@mixin color-light-background-dark {
    color: $color-light;
    background: $color-dark;
}

@mixin color-dark-background-light {
    color: $color-dark;
    background: $color-light;
}

@mixin background-color-transition {
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

@mixin outline-styles {
    outline: 3px solid $color-dark;
    outline-offset: 1px;
}

@mixin appearance-none {
    -webkit-appearance: none;
    appearance: none;
}

@mixin rotate-negative-45 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@mixin rotate-positive-45 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@mixin background-black-color-white {
    background: $color-black;
    color: $color-white;
}

@mixin background-white-color-black {
    background: $color-white;
    color: $color-black;
}


@mixin background-dark-color-light {
    background: $color-dark;
    color: $color-light;
}

@mixin background-light-color-dark {
    background: $color-light;
    color: $color-dark;
}

// --- Sass Extends ---------------------- //

// Displays
.hide,
.desktop-only {
    display: none;
}

.block,
.mobile-only {
    display: block;
}

@include breakpoint('medium') {
    .desktop-only,
    .large--block {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}

.inline-block {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}


// Position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


// Flex
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.align-self-center {
    align-self: center;
}

.object-fit-contain {
    object-fit: contain;
}


// Grid
.grid {
    display: grid;    
    .span-2 {
        grid-column: 1 / span 2;
    }
}


.span-2 {
    grid-column: 1 / span 2;
}

// Borders
.border {
    border: 2px solid;
}

.width-100 {
    width: 100%;
}

@include breakpoint('medium') {
    .large--width-auto {
        width: auto;
    }
}


// --- Global ------------------------- //
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
}

html {
	font-size: 1rem;
    font-family: $font-base;
}

body {
    margin: 0;
    overflow-x: hidden;
    &.accessibility__increase__line-height {
        &.accessibility__increase__font-size {
            dialog button {
                padding: 0;
            }
            .accessibility__modal.open .accessibility__icon-close {
                &:before,
                &:after {
                    top: -14rem;
                }
            }
        }
    }
    &.accessibility__color__invert {
        &.accessibility__color__greyscale {
            .modal {
                background: $color-black;
            }
            .title__light,
            p {
                color: $color-white;
            }
        }
    }
    &.accessibility {
        &__increase {
            &__font-size {
                h5,
                h4 {
                    font-size: clamp(5rem, 5vw, 5rem);
                }
                #about #banner .wrapper h2 {
                    font-size: clamp(4rem, 4vw, 4rem) !important;
                    line-height: 4rem;
                }
              *:not(.title__accent):not(.title__dark):not(.title__light):not(h5):not(h4) {
                font-size: x-large !important;
              }
              dialog button {
                @extend .width-100;
              }
              .accessibility__modal.open .accessibility__icon-close {
                left: calc(100% - 3rem);
                bottom: 15rem;
                &:before,
                &:after {
                    width: 3px;
                    height: 30px;
                    top: -12rem;
                }
              }
              @include breakpoint('medium') {
                .accessibility__modal.open .accessibility__icon-close {
                    bottom: 20rem;
                    left: 29rem;
                }
                #about #banner .wrapper h2 {
                    width: 50%;
                    line-height: 6rem;
                }
                 h5,
                 #about #banner .wrapper h2,
                 h4 {
                    font-size: clamp(6rem, 6vw, 6rem) !important;
                }
                *:not(.title__accent):not(.title__dark):not(.title__light):not(h5):not(h4) {
                    font-size: xx-large !important;
                  }
              }
            }
            &__line-height {
                *:not(.title__accent):not(.title__dark):not(.title__light):not(.title) {
                    line-height: 200% !important;
                }
                .title__accent {
                    line-height: 1;
                }
                .accessibility__modal.open .accessibility__icon-close {
                    &:before,
                    &:after {
                        top: -5rem;
                    }
                }
            }
        }
        &__color {
            &__invert {
                @include color-light-background-dark();
                .modal {
                    @include color-light-background-dark();
                }
                .title {
                    &__light {
                        color: $color-dark;
                        text-shadow: 3px 1px 6px $color-light;
                    }
                    &__dark {
                        color: $color-light;
                        text-shadow: 3px 1px $color-dark;
                    }
                }
                input,
                textarea {
                    background: $color-light;
                    &:focus {
                        background: $color-white;
                    }
                }
                header, 
                #about #banner {
                    background: $color-light;
                }
                #about #banner #hiddenIcons .icon {
                    filter: invert(0);
                }
                h2 {
                    color: $color-dark;
                }
                h5,
                label,
                p,
                a,
                li,
                span {
                    color: $color-light;
                }
                .breadcrumbs a.has-hover-state.hover-state-dark:after {
                    border-color: $color-light;
                }
                video {
                    background: $color-light;
                }
                footer {
                    @include color-dark-background-light();
                    *,a { 
                        color: $color-dark;
                    }
                    a {
                        &:focus {
                            outline-color: $color-dark;
                        }
                        &.has-hover-state:after,
                        &.hover-state-dark {
                            border-color: $color-dark;
                        }
                    }
                    &:before, 
                    &:after,
                    .logo:before, .logo:after, .logo span:before, .logo span:after {
                        background: $color-dark;
                    }
                }
                header #clock {
                    color: $color-dark;
                    * {
                        color: $color-dark;
                    }
                    .hand {
                        background: $color-dark;
                    }
                }
                .logo {
                    span {
                        color: $color-dark;
                    }
                    &:before,
                    &:after,
                    span:before,
                    span:after {
                        background: $color-dark;
                    }
                }
                .button {
                    @include background-dark-color-light();
                    &.inverted {
                        border-color: $color-light;
                        @include background-dark-color-light();
                        &.active {
                            @include background-light-color-dark();
                            border-color: $color-dark;
                        }
                        &:hover {
                            @include background-dark-color-light();
                            border-color: $color-white;
                        }
                        &:focus-visible {
                            outline-color: $color-light;
                        }
                    }
                    &.slideshow-button {
                        &:hover {
                            background: $color-light !important;
                            color: $color-dark !important;
                        }
                    }
                    &__accessibility,
                    &__to-top {
                        &:hover {
                            border-color: $color-dark;
                            @include background-light-color-dark();
                        }
                    }
                }
                .button__wrapper {
                    a {
                        @include background-light-color-dark();
                        border: 1px solid $color-light;
                    }
                    button {
                        @include background-light-color-dark();
                    }
                    a,
                    button {
                        &:hover {
                            @include background-dark-color-light();
                            border-color: $color-light;
                        }
                    }
                }
                .grid-item {
                    .plus {
                        @include background-light-color-dark();
                        &:before,
                        &:after {
                            background: $color-dark;
                        }
                    }
                    &:hover {
                        cursor: url('../assets/icons/plus-dark.svg'), auto;
                        h4 {
                            color: $color-dark;
                        }
                        .plus {
                            @include background-dark-color-light();
                            &:before,
                            &:after {
                                background: $color-light;
                            }
                        }
                        &:after {
                            background: $color-light;
                        }
                    }
                }
                @include breakpoint('medium') {
                    #about #banner {
                        &:hover {
                            cursor: url('../assets/icons/magnifying-glass-dark.svg'), auto;
                        }
                    }
                }
            }
            &__greyscale {
                background: $color-black;
                .title {
                    &__light {
                        text-shadow: 1px 3px 4px $color-white;
                        color: $color-black;
                    }
                    &__dark {
                        text-shadow: 3px 2px $color-black;
                    }
                }
                h2 {
                    color: $color-black;
                }
                video {
                    background: $color-white;
                }
                #about #banner #hiddenIcons .icon {
                    filter: invert(0);
                }
                .portfolio {
                    &__modal {
                        .technology {
                            background: $color-black-medium;
                            h4 {
                                color: $color-black;
                            }
                        }
                    }
                }
                .grid-item {
                    .plus {
                        background: $color-black;
                        &:after,
                        &:before {
                            background: $color-white;
                        }
                    }
                    &:after {
                        background: $color-white;
                    }
                    h4 {
                        color: $color-black;
                    }
                    &:hover {
                        cursor: url('../assets/icons/plus-black.svg'), auto;
                        .plus {
                            background: $color-white;
                            border-color: $color-black;
                            &:before,
                            &:after {
                                background: $color-black;
                            }
                        }
                    }
                }
                header #clock {
                    color: $color-black;
                    * {
                        color: $color-black;
                    }
                    .hand {
                        background: $color-black;
                    }
                }
                .logo {
                    span {
                        color: $color-black;
                    }
                    &:before,
                    &:after,
                    span:before,
                    span:after {
                        background: $color-black;
                    }
                }
                .accessibility {
                    &__modal {
                        &.open {
                            dialog {
                                border-color: $color-black;
                            }
                            h6 {
                                color: $color-black;
                            }
                            .accessibility__icon-close {
                                &:before,
                                &:after {
                                    background: $color-black;
                                }
                            }
                        }
                    }
                }
                li,
                span {
                    color: $color-white;
                }
                a {
                    &.hover-state-dark.has-hover-state:after {
                        border-color: $color-white;
                    }
                    &.has-hover-state:after {
                        border-color: $color-black;
                    }
                }

                .slideshow-button.active {
                    border-color: $color-white !important;
                }

                .button {
                    @include background-black-color-white();
                    &.inverted {
                        border-color: $color-black;
                        @include background-white-color-black();
                        &.active {
                            @include background-black-color-white();
                        }
                        &:hover {
                            @include background-black-color-white();
                            border-color: $color-white;
                        }
                        &:focus-visible {
                            outline-color: $color-black;
                        }
                    }
                    &__wrapper {
                        a {
                            border-color: $color-white;
                        }
                        button {
                            @include background-black-color-white();
                            border-color: $color-white;
                            &:focus-visible {
                                outline: 1px solid $color-white;
                            }
                        }
                        button, 
                        a {
                            &:hover {
                                @include background-white-color-black();
                            }
                        }
                    }
                }
                input,
                textarea {
                    @include background-black-color-white();
                    border-color: $color-white;
                    &:focus-visible {
                        outline: 1px solid $color-white;
                    }
                    &:focus {
                        @include background-white-color-black();
                    }
                }
                header, 
                #about #banner {
                    background: $color-white;
                }
                footer {
                    background: $color-white;
                    *,a { 
                        color: $color-black;
                    }
                    a {
                        &:focus {
                            outline-color: $color-black;
                        }
                    }
                    &:before, 
                    &:after,
                    .logo:before, .logo:after, .logo span:before, .logo span:after {
                        background: $color-black;
                    }
                }
                .client__slideshow {
                    .slide img {
                        filter: invert(1);
                    }
                    &::-webkit-scrollbar-track {
                        background: $color-black-medium;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $color-white;
                    }
                }
                *,
                a {
                    color: $color-white;
                }
                @include breakpoint('medium') {
                    #about #banner {
                        &:hover {
                            cursor: url('../assets/icons/magnifying-glass-black.svg'), auto;
                        }
                    }
                }
            }
        }
    }
}

img {
    @include width-height-100();
}

video {
    max-width: 100%;
    width: 100vw;
    background: $color-dark;
}

main {
    @extend .relative;
}

// --- Wrappers ------------------------- //
.wrapper {
    padding: 0 $wrapper--medium;
    @include breakpoint('medium') {
        padding: 0 $wrapper--small;
    }
    @include breakpoint('large') {
        padding: 0 $wrapper--large;
    }
}

// --- Typography ------------------------- //
.text-center {
    text-align: center;
}

h1 {
    font-size: 40px;
    line-height: 36px;
}

h2 {
    font-family: $font-title;
    color: $color-light;
    line-height: 3rem;
    font-size: clamp(2.5rem, 2.5vw, 2.5rem);
    @include breakpoint('large') {
        line-height: 6rem;
        font-size: clamp(5rem, 5vw, 5rem);
    }
}

h3 {
    font-family: $font-title;
    letter-spacing: 2px;
    font-size: clamp(3.5rem, 5vw, 10rem);
    @include breakpoint('small') {
        font-size: clamp(5rem, 5vw, 10rem);
    }
    @include breakpoint('large') {
        font-size: clamp(10rem, 5vw, 10rem);
    }
}

h4 {
    @extend .text-center;
    font-weight: 600;
    color: $color-dark;
    font-family: $font-title;
    letter-spacing: 1px;
    font-size: clamp(1.5rem, 7vw, 1.5rem);
}

h5 {
    font-family: $font-title;
    color: $color-dark;
    font-size: clamp(3rem, 7vw, 3rem);
    @extend .text-center;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    @include breakpoint('medium') {
        font-size: 1rem;
    }
}

p {
    font-size: clamp(0.3rem, 7vw, 1rem);
    margin-bottom: 1rem;
    color: $color-dark;
}

li {
    font-size: 1rem;
    @include breakpoint('medium') {
        font-size: 0.9rem;
    }
}


// --- Links ------------------------- //
a {
    color: $color-light;
    text-decoration: none;
    &.has-hover-state {
        @extend .relative,
                .inline-block;
        &:after {
            content: '';
            @extend .block;
            border-bottom: 2px solid;
            border-color: $color-light;
            transform: scaleX(0);  
            transform-origin: 0% 50%;
            transition: transform 250ms ease-in-out;
        }
        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
        &:focus {
            outline: 3px solid $color-light;
            outline-offset: 1px;
        }
        &.hover-state-dark {
            &:after {
                border-bottom: 2px solid;
                border-color: $color-dark;
            }
            &:focus {
                @include outline-styles();
            }
        }
    }
}



// --- Breadcrumbs ------------------------- //
.breadcrumbs {
    @extend .block,
            .relative;
    ul {
        @extend .justify-end,
                .absolute,
                .width-100;
                bottom: 8rem;
                right: 2rem;
        @include display-flex();
    }
    a,
    span,
    li {
        color: $color-dark;
    }
    a {
        &.home {
            border-bottom: 2px solid;
            padding-bottom: 1px;
        }
        &:not(.home) {
            cursor: initial;
        }
    }
    span {
        margin-right: 7px;
    }
}



// --- Buttons ------------------------- //
.button {
    @include color-light-background-dark();
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $color-dark;
    font-weight: 600;
    font-family: $font-base;
    letter-spacing: 1px;
    &:hover {
        @include color-dark-background-light();
        cursor: pointer;
        @include background-color-transition();
    }
    &:focus {
        @include outline-styles();
    }
    &.inverted {
        @include color-dark-background-light();
        &:hover,
        &.active {
            @include color-light-background-dark();
            border: 1px solid $color-light;
            -webkit-transition: background-color 0.5s ease-in-out;
            -moz-transition: background-color 0.5s ease-in-out;
            -o-transition: background-color 0.5s ease-in-out;
            transition: background-color 0.5s ease-in-out;
        }
    }
    &__main-content {
        @extend .visually-hidden,
                .button,
                .inverted;
        &:focus {
            top: 30px;
            left: 30px;
            height: initial;
            width: inherit;
            margin: initial;
            clip: inherit;
            z-index: 2;
        }
    }
    &__wrapper {
        @extend .text-center;
        margin: $wrapper--large 0;
        margin-bottom: 0;
        button,
        a {
            @extend .button,
                    .width-100;
        }
        a {
            @extend .inline-block;
        }
        @include breakpoint('medium') {
            margin: $wrapper--large;
            margin-bottom: 0;
            button,
            a {
                width: auto;
            }
        }
    }
    &__to-top,
    &__accessibility {
        bottom: 2rem;
        right: 2rem;
        z-index: 5;
        position: fixed;
        @extend .button,
                .inverted;
        &:focus {
            outline: 3px solid $color-light;
            outline-offset: 1px; 
        }
    }
    &__accessibility {
        left: 2rem;
        right: initial;
    }
}

.inverted {
    @include color-dark-background-light();
    &:hover,
    &.active {
        @include color-light-background-dark();
        border: 1px solid $color-light;
        @include background-color-transition();
    }
}

// --- Inputs ------------------------- //
label {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
    @include breakpoint('medium') {
        font-size: 14px;
    }
}
 
input,
textarea {
    border: 1px solid $color-dark;
    border-radius: 2px;
    padding: 0.8rem;
    font-family: $font-base;
    color: $color-dark;
    &:focus {
        @include color-dark-background-light();
    }
}

textarea {
    resize: none;
}


// --- Header ------------------------- //
header {
    background: $color-dark;
    padding: 1rem $wrapper--large;
    @extend .justify-between,
            .text-center;
    @include large-flex();
    .logo {
        margin-bottom: 0;
        order: initial;
    }
    #clock {
        color: $color-light;
        .hand {
            @extend .absolute;
            height: 2px;
            background: $color-light;
        }
        #hour,
        #minute,
        #second {
            @extend .absolute;
            border-radius: 10px;
            transform-origin: bottom;
        }
        #hour {
            width: 1%;
            height: 22%;
            top: 26%;
            left: 49.85%;
            opacity: 0.8;
        }
        #minute {
            width: 1.6%;
            height: 34%;
            top: 14%;
            left: 48.9%;
            opacity: 0.8;
        }
        #second {
            width: 1%;
            height: 40%;
            top: 9%;
            left: 49.25%;
            opacity: 0.8;
        }
        @extend .hide,
                .relative,
                .border,
                .large--block;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
        .grid {
            @extend .text-center;
            font-size: 12px;
            height: 100%;
            padding: 3px;
            span {
                @include display-flex();
                &.span-2 {
                    @extend .justify-center;
                }
            }
        }
    }
    @include breakpoint('small') {
        text-align: left;
    }
}


// --- Logo ------------------------- //
.logo {
    font-size: 40px;
    line-height: 36px;
    order: 1;
    margin-bottom: $wrapper--xlarge;
    color: $color-light;
    @extend .inline-block,
            .align-self-center,
            .relative;
    &:before,
    &:after {
        left: -21px;
    }
    &:before {
        @include rotate-negative-45();
    }
    &:after {
       @include rotate-positive-45();
    }
    span {
        &:before,
        &:after {
            left: 43px;
        }
        &:before {
            @include rotate-positive-45();
        }
        &:after {
            @include rotate-negative-45();
        }
    }
    .slash {
        @extend .relative;
        margin-right: 8px;
        margin-left: 7px;
        &:before {
            content: '';
            @extend .absolute;
            width: 25px;
            height: 3px;
            -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
            left: -13px;
            top: 20px;
        }
        &:after {
            @extend .hide;
        }
    }
    .footer__span {
        &:before,
        &:after {
            left: 60px;
        }
    }
    @include breakpoint('medium') {
        margin-bottom: 0;
        font-size: 30px;
        span {
            &:before,
            &:after {
                left: 31px;
            }
        }
        .slash {
            &:before {
                top: 15px;
            }
        }
        .footer__span {
            &:before,
            &:after {
                left: 46px;
            }
        }
    }
}


.logo,
.logo span {
    &:before,
    &:after {
        content: '';
        width: 21px;
        height: 3px;
        background: $color-light;
        @extend .absolute;
    }
    &:before {
        top: 13px;
    }
    &:after {
        top: 27px;
    }
}


// --- About ------------------------- //
#about {
    margin-bottom: $wrapper--xlarge;
    #banner {
        background: $color-dark;
        padding-top: 5rem;
        @extend .relative;
        #hiddenIcons {
            display: none;
        }
        .wrapper {
            padding-right: 0;
            @extend .relative;
            @include items-center-justify-end();
            img {
                width: 250px;
                @extend .relative;
                z-index: 1;
            }
            h2 {
                @include absolute-top();
                left: 2rem;
                width: 250px;
            }
        }
    }
    @include breakpoint('xsmall') {
        #banner .wrapper h2 {
            width: 400px;
        }
    }
    @include breakpoint('small') {
        margin-bottom: 5rem;
        #banner {
            .wrapper {
                padding: 0 $wrapper--large;
                img {
                    width: 300px;
                }
                h2 {
                    width: 350px;
                }
            }
        }
    }
    @include breakpoint('medium') {
        margin-bottom: 6rem;
        #banner {
            padding-top: 0rem;
            .wrapper {
                max-width: 1500px;
                @include margin-auto();
                justify-content: space-between;
                h2 {
                    width: 650px;
                    margin-left: auto;
                    position: initial;
                }
                img {
                    width: 600px;
                }
            }
            &:hover {
                cursor: url('../assets/icons/magnifying-glass.svg'), auto;
            }
            #hiddenIcons {
                position: absolute;
                display: grid;
                grid-template-columns: repeat(3, 23%);
                @include width-height-100();
                z-index: 4;
                grid-column-gap: 1rem;
                padding: 0 5rem;
                .icon {
                    width: 75px;
                    height: 100%;
                    filter: invert(1);
                    opacity: 0;
                    object-fit: contain;
                    position: relative;
                    &:hover {
                        opacity: 1;
                        transition: opacity 0.25s;
                        -webkit-transition: opacity 0.25s ease-in;
                        -moz-transition: opacity 0.25s ease-in;
                        -o-transition: opacity 0.25s ease-in;
                        transition: opacity 0.25s ease-in;
                    }
                }
                .icon:nth-child(odd) {
                    top: -2rem;
                    right: -5rem;
                }
                .icon:nth-child(even) {
                    top: -2rem;
                    left: -1rem;
                }
            }
        }
    }
    @include breakpoint('large') {
        margin-bottom: 12rem;
    }
}


// --- Title ------------------------- //
.title {
    @extend .relative;
    &__accent {
        @extend .absolute;
                top: -3.5rem;
                left: -6rem;
                font-style: italic;
        @include flex-column();
    }
    &__light {
        color: $color-light;
        @extend .text-center;
        text-shadow: 3px 1px $color-dark;
    }
    &__dark {
        color: $color-dark;
        @extend .relative;
        bottom: 1rem;
        left: 6.4rem;
        text-shadow: 3px 2px $color-light;
    }
    @include breakpoint('small') {
        &__accent {
            top: -4.5rem;
        }
        &__dark {
            bottom: 2rem;
        }
    }
    @include breakpoint('large') {
        &__accent {
            top: -8.5rem;
            left: -10rem;
        }
        &__dark {
            bottom: 3rem;
            left: 12.4rem;
        }
    }
}


// --- Portfolio: Grid ------------------------- //
.portfolio {
    &__grid {
        @include flex-column();
    }
    &__modal {
        &[aria-hidden="true"] {
            display: none !important;
            .modal {
                display: none !important;
            }
        }
        .modal {
            .video {
                padding-bottom: 12rem;
            }
            .quote {
                color: $color-dark;
                padding: 0 $wrapper--large;
                margin: 3rem 0;
                line-height: 2rem;
            }
            .button__wrapper {
                padding: $wrapper--large;
            }
            .technology {
                background: $color-medium;
                padding: $wrapper--xlarge 0;
                ul {
                    margin: 2rem auto 0 auto;
                    @include display-grid();
                    width: 300px;
                    grid-template-columns: repeat(5,1fr);
                    li {
                        background: $color-white;
                        border-radius: 5px;
                        width: 50px;
                        height: 50px;
                        img {
                            padding: 5px;
                        }
                    }
                }
            }
        }
        .title {
            height: 75px;
            &__accent {
                left: 0rem;
            }
            &__dark {
                bottom: 0rem;
            }
        }
    }
    @include breakpoint('medium') {
        &__grid {
            @include display-grid();
        }
        &__modal {
            .modal {
                .quote {
                    top: 12rem;
                    padding: 0 8rem;
                    margin: 6rem auto;
                    max-width: 900px;
                }
                .technology {
                    padding: 6rem;
                    h4 {
                        font-size: clamp(2rem, 7vw, 2rem);
                    }
                }
            }
        }
    }
    @include breakpoint('large') {
        &__modal {
            .title {
                height: 150px;
                &__dark {
                    bottom: -2rem;
                }
            }
        }
    }
}


.grid-item {
    margin-bottom: 10px;
    @extend .relative,
            .justify-center;
    @include flex-column();
    img {
        @extend .object-fit-contain;
    }
    &:after {
        content: '';
        background: $color-light;
        opacity: 0.8;
        filter: opacity(0.8);
        @include width-height-100();
        @include top-left-0();
        @extend .absolute;
    }
    .plus {
        background: $color-dark;
        width: 2rem;
        height: 2rem;
        z-index: 3;
        @extend .absolute;
                right: 1rem;
                top: 1rem;
        border-radius: 50%;
        &:before,
        &:after {
            @extend .absolute;
            content: '';
            background: $color-light;
            width: 1rem;
            height: 2px;
            top: 15px;
            left: 8px;
        }
        &:after {
            transform: rotate(90deg);
        }
    }
    &:focus {
        @include outline-styles();
    }
    &:hover {
        cursor: url('../assets/icons/plus.svg'), auto;
        &:after {
            background: $color-dark;
            opacity: 1;
            filter: opacity(1);
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
        .plus {
            background: $color-light;
            &:before,
            &:after {
                background: $color-dark;
            }
            &:hover {
                cursor: pointer;
            }
        }
        h4 {
            @extend .block,
                    .absolute,
                    .align-self-center,
                    .justify-center;
            color: $color-light;
            z-index: 1;
        }
    }
    @include breakpoint('large') {
        margin-bottom: 0;
        img {
            height: 450px;
        }
    }
}


// --- Portfolio: Modal Slider ------------------------- //
.margin-bottom-4 {
    margin-bottom: $wrapper--xlarge;
}

@include breakpoint('medium') {
    .image-slider {
        max-width: 1024px;
        margin: 0 auto;
    }
}


.container {
    @extend .relative;
    height: 250px;
    width: calc(100% - 4rem);
    border: 2px solid $color-dark;
    margin: 4rem auto 0 auto;
    .img {
        @extend .absolute;
        @include width-height-100();
        @include top-left-0();
        background-size: 400px 100%;
        img {
            object-fit: cover;
        }
    }
    .foreground-img {
      width: 50%;
    }
    @include breakpoint('large') {
        width: 900px;
        height: 600px;
        &.margin-left {
            margin: $wrapper--xlarge 0;
        }
        &.margin-right {
            margin: $wrapper--xlarge 0 $wrapper--xlarge auto;
        }
        .img {
            background-size: 900px 100%;
        }
    }
}

.slider {
    @extend .absolute,
            .justify-center,
            .items-center;
            outline: none;
            margin: 0;
            transition: all .2s;
            padding: 0;
            background: transparent;
        @include appearance-none();
        @include display-flex();
        @include width-height-100();
      &:hover,
      &:focus {
        background-color: transparent;
      }
      &::-webkit-slider-thumb {
        @include appearance-none();
        width: 6px;
        height: 200px;
        background: $color-dark;
        cursor: pointer;
    }
    @include breakpoint('large') {
        &::-webkit-slider-thumb {
            height: 600px;
        }
    }
}


// --- Clients ------------------------- //
.client {
    margin-top: $wrapper--xlarge;
    a {
        color: $color-dark;
    }
    p {
        @extend .text-center;
        margin-top: 2rem;
        font-size: 12px;
    }
    &__slideshow {
        overflow-x: scroll;
        @extend .flex,
                .items-center;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: $color-light;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-dark;
        }
        .slide {
            padding: 0 3rem;
            margin: $wrapper--xlarge 0;
            &.show {
                @extend .inline-block;
            }
            img {
                width: 150px;
                height: 75px;
                @extend .object-fit-contain;
                filter: grayscale(1);
            }
            a {
                @extend .block;
            }
        }
        &-buttons {
            @extend .text-center,
                    .justify-evenly;
            @include display-flex();
            margin-top: 3rem;
            button {
                border: 1px solid;
                font-family: $font-base;
                font-size: 1rem;
                padding: 10px;
                @extend .inverted;
                &.active {
                    @include color-light-background-dark();
                }
            }
        }
    }
    @include breakpoint('medium') {
        margin-top: 8rem;
        &__slideshow {
            min-height: 300px;
            .slide {
                padding: 0 6rem;
            }
            &-buttons {
                margin-top: $wrapper--xlarge;
                display: block;
                button {
                    margin: 0 2rem;
                    padding: 10px 30px;
                }
            }
        }
    }
}


// --- Contact ------------------------- //
#contact {
    margin: $wrapper--xlarge 0;
    h5 {
        @extend .text-center;
    }
    form {
        padding: $wrapper--medium;
        padding-bottom: 0;
        .flex__wrapper {
            @extend .justify-between;
            @include large-flex-row();
        }
        .input__wrapper {
            @include flex-column();
        }
    }
    @include breakpoint('medium') {
        margin: 8rem 0;
        form {
            max-width: 700px;
            @include margin-auto();
            .input__wrapper {
                &.half {
                    width: calc(50% - 3px);
                }
            }
        }
    }
}


// --- Footer ------------------------- //
footer {
    background: $color-dark;
    @extend .relative;
    * {
        color: $color-light;
    }
    &:before,
    &:after {
        content: '';
        @extend .absolute;
        background: $color-light;
        height: 4px;
        width: 100%;
    }
    &:before {
        top: 8px;
    }
    &:after {
        bottom: 8px;
    }
    .footer {
        &__links {
            @extend .items-start,
                    .justify-between;
                    padding: 2rem 2rem 0 2rem;
            @include flex-column();
        }
        &__logo {
            @extend .large--width-auto,
                    .width-100,
                    .text-center;
        }
        &__navigation {
            order: 2;
            margin-bottom: $wrapper--xlarge;
            li,
            &-title {
                margin-bottom: 1rem;
            }
        }
    }
    copyright {
        @extend .block,
                .text-center;
        padding: 2rem 0 1.5rem 0;
        font-size: 11px;
    }
    @include breakpoint('medium') {
        .footer {
            &__links {
                max-width: 800px;
                @include margin-auto();
                flex-direction: row;
                align-items: center;
                padding: $wrapper--xlarge $wrapper--medium 0;
            }
            &__navigation {
                margin-bottom: 0;
            }
            &__navigation,
            .logo {
                order: initial;
            }
        }
    }
}


// --- Accessibility Modal ------------------------- //
.accessibility {
    &__modal {
        &.open {
            .accessibility__icon-close {
                display: block;
                position: fixed;
                bottom: 20rem;
                left: 29rem;
                z-index: 10;
                &:hover {
                    cursor: pointer;
                }
                &:before,
                &:after {
                    content: '';
                    background: $color-dark;
                    width: 2px;
                    height: 13px;
                    @include absolute-top();
                }
                &:before {
                    @include rotate-negative-45();
                }
                &:after {
                    @include rotate-positive-45();
                }
            }
            dialog {
            border-color: $color-dark;
            padding: $wrapper--medium;
            @extend .block;
                position: fixed;
                bottom: 2rem;
                z-index: 9;
                margin: 0 auto;
                width: calc(100% - 2rem);
                div {
                    @include flex-column();
                    h6 {
                        color: $color-dark;
                        margin-bottom: 10px;
                    }
                    &:first-of-type {
                        margin-bottom: $wrapper--medium;
                    }
                    button:last-of-type {
                        margin-top: 10px;
                    }
                }
                @include breakpoint('medium') {
                    left: 2rem;
                    margin: 0;
                    width: 460px;
                    div {
                        &:first-of-type {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &__icon-close {
        display: none;
    }
}