/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Chonburi&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  display: none;
}

.block, a:after, .grid-item:hover h4, footer copyright {
  display: block;
}

.inline-block, a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width: 767px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

.relative, a, .logo, #about #banner .wrapper, .title, .title .dark, .grid-item, footer {
  position: relative;
}

.absolute, .logo:before, .logo:after,
.logo span:before,
.logo span:after, #about #banner .wrapper h2, .title h3, .grid-item:after, .grid-item .plus, .grid-item .plus:before, .grid-item .plus:after, .grid-item:hover h4, footer:before, footer:after {
  position: absolute;
}

.inherit {
  position: inherit;
}

.initial {
  position: initial;
}

.fixed {
  position: fixed;
}

.flex, #about #banner .wrapper, .title h3, .grid-item, footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column, .title h3, .grid-item, footer .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-between, footer .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-center, .grid-item, .grid-item:hover h4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end, #about #banner .wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.items-center, #about #banner .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-start, footer .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-self-center, .logo, .grid-item:hover h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 767px) {
  .large--flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 767px) {
  .large--grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
  }
}

.columns-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.border {
  border: 2px solid #084DB5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 1rem;
  font-family: "Anonymous Pro";
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 0 2rem;
}

@media (min-width: 767px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0 2.2rem;
  }
}

.wrapper-top {
  padding: 2rem 0;
}

@media (min-width: 767px) {
  .wrapper-top {
    padding: 1.5rem 0;
  }
}

@media (min-width: 1024px) {
  .wrapper-top {
    padding: 2.2rem 0;
  }
}

.heading-xxl, h3 {
  font-size: clamp(3.5rem, 5vw, 10rem);
}

@media (min-width: 561px) {
  .heading-xxl, h3 {
    font-size: clamp(5rem, 5vw, 10rem);
  }
}

@media (min-width: 1024px) {
  .heading-xxl, h3 {
    font-size: clamp(10rem, 5vw, 10rem);
  }
}

.heading-xl, h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

@media (min-width: 561px) {
  .heading-xl, h2 {
    font-size: clamp(3.5rem, 5vw, 5rem);
    line-height: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .heading-xl, h2 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    line-height: 5rem;
  }
}

.heading-lg, h5 {
  font-size: clamp(3rem, 7vw, 3rem);
}

.heading-md, h4 {
  font-size: clamp(1rem, 7vw, 1.1rem);
}

.heading-sm {
  font-size: clamp(0.5rem, 7vw, 1rem);
}

h1 {
  font-size: 40px;
  line-height: 36px;
}

h2 {
  font-family: "Chonburi";
  color: #E2ECFB;
}

h3 {
  font-family: "Chonburi";
  letter-spacing: 2px;
}

h4 {
  font-weight: 600;
}

h5 {
  font-family: "Chonburi";
  color: #084DB5;
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 767px) {
  h6 {
    font-size: 1rem;
  }
}

li {
  font-size: 1rem;
}

@media (min-width: 767px) {
  li {
    font-size: 0.9rem;
  }
}

a {
  color: #E2ECFB;
  text-decoration: none;
}

a:after {
  content: '';
  border-bottom: 2px solid #E2ECFB;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a:focus {
  outline: 3px solid #E2ECFB;
  outline-offset: 1px;
}

.button {
  background: #084DB5;
  color: #E2ECFB;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #084DB5;
  font-weight: 600;
  font-family: "Anonymous Pro";
  letter-spacing: 1px;
}

.button:hover {
  background: #E2ECFB;
  color: #084DB5;
  cursor: pointer;
}

.button-wrap {
  text-align: center;
  margin: 2.2rem 0;
  margin-bottom: 0;
}

.button-wrap .button {
  width: 100%;
}

@media (min-width: 767px) {
  .button-wrap {
    margin: 2.2rem;
    margin-bottom: 0;
  }
  .button-wrap .button {
    width: auto;
  }
}

.main-content:focus {
  top: 30px;
  left: 30px;
  height: initial;
  width: inherit;
  margin: initial;
  clip: inherit;
  z-index: 2;
}

label {
  color: #084DB5;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 0;
}

@media (min-width: 767px) {
  label {
    font-size: 14px;
  }
}

input,
textarea {
  border: 1px solid #084DB5;
  border-radius: 2px;
  padding: 0.8rem;
  font-family: "Anonymous Pro";
}

input:focus,
textarea:focus {
  background: #E2ECFB;
  color: #084DB5;
}

textarea {
  resize: none;
}

header {
  background: #084DB5;
  padding: 1rem 2.2rem 0 2.2rem;
  text-align: center;
}

@media (min-width: 561px) {
  header {
    text-align: left;
  }
}

.logo {
  font-size: 40px;
  line-height: 36px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 4rem;
  color: #E2ECFB;
  display: inline-block;
}

.logo:before, .logo:after {
  left: -21px;
}

.logo:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.logo:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.logo span:before, .logo span:after {
  left: 43px;
}

.logo span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.logo span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 767px) {
  .logo {
    margin-bottom: 0;
    font-size: 30px;
  }
  .logo span:before, .logo span:after {
    left: 31px;
  }
}

.logo:before, .logo:after,
.logo span:before,
.logo span:after {
  content: '';
  width: 21px;
  height: 3px;
  background: #E2ECFB;
}

.logo:before,
.logo span:before {
  top: 13px;
}

.logo:after,
.logo span:after {
  top: 27px;
}

#about {
  margin-bottom: 4rem;
}

#about #banner {
  background: #084DB5;
}

#about #banner .wrapper {
  padding-right: 0;
}

#about #banner .wrapper img {
  width: 250px;
}

#about #banner .wrapper h2 {
  left: 2rem;
  top: 0;
  width: 250px;
}

@media (min-width: 550px) {
  #about #banner .wrapper h2 {
    width: 400px;
  }
}

@media (min-width: 561px) {
  #about {
    margin-bottom: 5rem;
  }
  #about #banner .wrapper {
    padding: 0 2.2rem;
  }
  #about #banner .wrapper img {
    width: 450px;
  }
  #about #banner .wrapper h2 {
    width: 350px;
  }
}

@media (min-width: 767px) {
  #about {
    margin-bottom: 6rem;
  }
  #about #banner .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about #banner .wrapper h2 {
    width: 650px;
    margin-left: auto;
    position: initial;
  }
  #about #banner .wrapper img {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  #about {
    margin-bottom: 12rem;
  }
}

.title h3 {
  top: -3.5rem;
  left: -6rem;
}

.title .light {
  color: #E2ECFB;
  text-align: center;
}

.title .dark {
  color: #084DB5;
  bottom: 1rem;
  left: 6.4rem;
}

@media (min-width: 561px) {
  .title h3 {
    top: -4.5rem;
  }
  .title .dark {
    bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .title h3 {
    top: -8.5rem;
    left: -10rem;
  }
  .title .dark {
    bottom: 3rem;
    left: 12.4rem;
  }
}

.grid-item {
  margin-bottom: 10px;
}

.grid-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.grid-item:after {
  content: '';
  background: #E2ECFB;
  opacity: 0.8;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.grid-item .plus {
  background: #084DB5;
  width: 2rem;
  height: 2rem;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
}

.grid-item .plus:before, .grid-item .plus:after {
  content: '';
  background: #E2ECFB;
  width: 1rem;
  height: 2px;
  top: 15px;
  left: 8px;
}

.grid-item .plus:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.grid-item:hover:after {
  background: #084DB5;
  opacity: 1;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.grid-item:hover .plus {
  background: #E2ECFB;
}

.grid-item:hover .plus:before, .grid-item:hover .plus:after {
  background: #084DB5;
}

.grid-item:hover h4 {
  color: #E2ECFB;
  z-index: 1;
}

@media (min-width: 1024px) {
  .grid-item {
    margin-bottom: 0;
  }
  .grid-item img {
    height: 450px;
  }
}

#contact {
  margin: 4rem 0;
}

#contact h5 {
  text-align: center;
}

#contact form {
  padding: 2rem;
  padding-bottom: 0;
}

@media (min-width: 767px) {
  #contact {
    margin: 8rem 0;
  }
  #contact form {
    max-width: 700px;
    margin: 0 auto;
  }
  #contact .large--width-50 {
    width: calc(50% - 3px);
  }
}

footer {
  background: #084DB5;
}

footer * {
  color: #E2ECFB;
}

footer:before, footer:after {
  content: '';
  background: #E2ECFB;
  height: 4px;
  width: 100%;
}

footer:before {
  top: 8px;
}

footer:after {
  bottom: 8px;
}

footer #about #banner .wrapper, #about #banner footer .wrapper, footer .title h3, .title footer h3, footer .grid-item, footer .flex {
  padding: 2rem 2rem 0 2rem;
}

footer ul {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 4rem;
}

footer h6, footer li {
  margin-bottom: 1rem;
}

footer copyright {
  text-align: center;
  padding: 2rem 0 1.5rem 0;
  font-size: 11px;
}

@media (min-width: 767px) {
  footer #about #banner .wrapper, #about #banner footer .wrapper, footer .title h3, .title footer h3, footer .grid-item, footer .flex {
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 2rem 0;
  }
  footer ul {
    margin-bottom: 0;
  }
  footer ul,
  footer .logo {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}
/*# sourceMappingURL=main.css.map */