// styles/main.scss 


// --- Resets --- //
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Chonburi&display=swap');


// --- Sass Variables -------------------- //

// Colors
$color-dark: #084DB5;
$color-medium: #c1d2ec;
$color-light: #E2ECFB;


// Font families
$font-base: "Anonymous Pro";
$font-title: "Chonburi";


// Wrapper 
$wrapper--large: 2.2rem;
$wrapper--medium: 2rem;
$wrapper--small: 1.5rem;


// --- Sass Mixins ----------------------- //
$breakpoints: (
  'xsmall':  550px,
  'small':  561px,
  'medium': 767px,
  'large':  1024px
) !default;


@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}

// --- Sass Extends ---------------------- //

// Displays
.hide {
    display: none;
}

.block {
    display: block;
}

@include breakpoint('medium') {
    .large--block {
        display: block;
    }
}

.inline-block {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

@include breakpoint('medium') {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}


// Position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inherit {
    position: inherit;
}

.initial {
    position: initial;
}

.fixed {
    position: fixed;
}


// Flex
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.align-self-center {
    align-self: center;
}

@include breakpoint('medium') {
    .large--flex-row {
        flex-direction: row;
    }
    .large--flex {
        display: flex;
    }
}


// Grid
.grid {
    display: grid;
}

@include breakpoint('medium') {
    .large--grid {
        display: grid;
        grid-gap: 5px;
    }
}

.columns-2 {
    grid-template-columns: repeat(2,1fr);
}

.columns-3 {
    grid-template-columns: repeat(3,1fr);
}

.span-two {
    grid-column: 1 / span 2;
}

// Borders
.border {
    border: 2px solid;
}


// --- Global ------------------------- //
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
}

html {
	font-size: 1rem;
    font-family: $font-base;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
}

main {
    @extend .relative;
}

// --- Wrappers ------------------------- //
.wrapper {
    padding: 0 $wrapper--medium;
    @include breakpoint('medium') {
        padding: 0 $wrapper--small;
    }
    @include breakpoint('large') {
        padding: 0 $wrapper--large;
    }
}

.wrapper-top {
    padding: $wrapper--medium 0;
    @include breakpoint('medium') {
        padding: $wrapper--small 0;
    }
    @include breakpoint('large') {
        padding: $wrapper--large 0;
    }
}


// --- Typography ------------------------- //
.heading-xxl {
    font-size: clamp(3.5rem, 5vw, 10rem);
    @include breakpoint('small') {
        font-size: clamp(5rem, 5vw, 10rem);
    }
    @include breakpoint('large') {
        font-size: clamp(10rem, 5vw, 10rem);
    }
}

.heading-xl {
    font-size: clamp(2.5rem, 5vw, 5rem);
    @include breakpoint('small') {
        font-size: clamp(3.5rem, 5vw, 5rem);
        line-height: 3.5rem;
    }
    @include breakpoint('large') {
        font-size: clamp(2.5rem, 5vw, 5rem);
        line-height: 5rem;
    }
}

.heading-lg {
    font-size: clamp(3rem, 7vw, 3rem);
}

.heading-md {
    font-size: clamp(1rem, 7vw, 1.1rem);
}

.heading-sm {
    font-size: clamp(0.5rem, 7vw, 1rem);
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 40px;
    line-height: 36px;
}

h2 {
    font-family: $font-title;
    color: $color-light;
    @extend .heading-xl;
}

h3 {
    font-family: $font-title;
    @extend .heading-xxl;
    letter-spacing: 2px;
}

h4 {
    @extend .heading-md;
    font-weight: 600;
}

h5 {
    font-family: $font-title;
    color: $color-dark;
    @extend .heading-lg;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    @include breakpoint('medium') {
        font-size: 1rem;
    }
}

li {
    font-size: 1rem;
    @include breakpoint('medium') {
        font-size: 0.9rem;
    }
}


// --- Links ------------------------- //
a {
    color: $color-light;
    text-decoration: none;
}


// --- Buttons ------------------------- //
.button {
    background: $color-dark;
    color: $color-light;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $color-dark;
    font-weight: 600;
    font-family: $font-base;
    letter-spacing: 1px;
    &:hover {
        background: $color-light;
        color: $color-dark;
        cursor: pointer;
    }
}

.button-wrap {
    @extend .text-center;
    margin: $wrapper--large 0;
    margin-bottom: 0;
    .button {
        width: 100%;
    }
    @include breakpoint('medium') {
        margin: $wrapper--large;
        margin-bottom: 0;
        .button {
            width: auto;
        }
    }
}


.main-content {
    &:focus {
        top: 30px;
        left: 30px;
        height: initial;
        width: inherit;
        margin: initial;
        clip: inherit;
        z-index: 2;
    }
}


// --- Inputs ------------------------- //
label {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
    @include breakpoint('medium') {
        font-size: 14px;
    }
}

input,
textarea {
    border: 1px solid $color-dark;
    border-radius: 2px;
    padding: 0.8rem;
    font-family: $font-base;
    &:focus {
        background: $color-light;
        color: $color-dark;
    }
}

textarea {
    resize: none;
}


// --- Header ------------------------- //
header {
    background: $color-dark;
    padding: 1rem $wrapper--large;
    @extend .large--flex,
            .justify-between,
            .text-center;
    .logo {
        margin-bottom: 0;
        order: initial;
    }
    #clock {
        color: $color-light;
        .hand {
            @extend .absolute;
            height: 2px;
            background: $color-light;
        }
        #hour,
        #minute,
        #second {
            @extend .absolute;
            background: $color-light;
            border-radius: 10px;
            transform-origin: bottom;
        }
        #hour {
            width: 1%;
            height: 22%;
            top: 26%;
            left: 49.85%;
            opacity: 0.8;
        }
        #minute {
            width: 1.6%;
            height: 34%;
            top: 14%;
            left: 48.9%;
            opacity: 0.8;
        }
        #second {
            width: 1%;
            height: 40%;
            top: 9%;
            left: 49.25%;
            opacity: 0.8;
        }
        @extend .hide,
                .relative,
                .border,
                .large--block;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
        .grid {
            @extend .text-center;
            font-size: 12px;
            height: 100%;
            padding: 3px;
            span {
                @extend .flex;
                &.span-two {
                    @extend .justify-center;
                }
            }
        }
    }
    @include breakpoint('small') {
        text-align: left;
    }
}


// --- Logo ------------------------- //
.logo {
    font-size: 40px;
    line-height: 36px;
    order: 1;
    margin-bottom: 4rem;
    color: $color-light;
    display: inline-block;
    @extend .align-self-center,
            .relative;
    &:before,
    &:after {
        left: -21px;
    }
    &:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    span {
        &:before,
        &:after {
            left: 43px;
        }
        &:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    @include breakpoint('medium') {
        margin-bottom: 0;
        font-size: 30px;
        span {
            &:before,
            &:after {
                left: 31px;
            }
        }
    }
}


.logo,
.logo span {
    &:before,
    &:after {
        content: '';
        width: 21px;
        height: 3px;
        background: $color-light;
        @extend .absolute;
    }
    &:before {
        top: 13px;
    }
    &:after {
        top: 27px;
    }
}


// --- About ------------------------- //
#about {
    margin-bottom: 4rem;
    #banner {
        background: $color-dark;
        padding-top: 5rem;
        .wrapper {
            padding-right: 0;
            @extend .flex,
                    .relative,
                    .items-center,
                    .justify-end;
            img {
                width: 250px;
            }
            h2 {
                @extend .absolute;
                left: 2rem;
                top: 0;
                width: 250px;
            }
        }
    }
    @include breakpoint('xsmall') {
        #banner .wrapper h2 {
            width: 400px;
        }
    }
    @include breakpoint('small') {
        margin-bottom: 5rem;
        #banner {
            .wrapper {
                padding: 0 $wrapper--large;
                img {
                    width: 450px;
                }
                h2 {
                    width: 350px;
                }
            }
        }
    }
    @include breakpoint('medium') {
        margin-bottom: 6rem;
        #banner {
            padding-top: 0rem;
            .wrapper {
                max-width: 1500px;
                margin: 0 auto;
                justify-content: space-between;
                h2 {
                    width: 650px;
                    margin-left: auto;
                    position: initial;
                }
                img {
                    width: 600px;
                }
            }
        }
    }
    @include breakpoint('large') {
        margin-bottom: 12rem;
    }
}


// --- Title ------------------------- //
.title {
    @extend .relative;
    .title-accent {
        @extend .absolute,
                .flex,
                .flex-column;
                top: -3.5rem;
                left: -6rem;
    }
    .light {
        color: $color-light;
        @extend .text-center;
    }
    .dark {
        color: $color-dark;
        @extend .relative;
        bottom: 1rem;
        left: 6.4rem;
    }
    @include breakpoint('small') {
        .title-accent {
            top: -4.5rem;
        }
        .dark {
            bottom: 2rem;
        }
    }
    @include breakpoint('large') {
        .title-accent {
            top: -8.5rem;
            left: -10rem;
        }
        .dark {
            bottom: 3rem;
            left: 12.4rem;
        }
    }
}


// --- Portfolio: Grid ------------------------- //
.grid-item {
    margin-bottom: 10px;
    @extend .relative,
            .flex,
            .justify-center,
            .flex-column;
    img {
        object-fit: contain;
    }
    &:after {
        content: '';
        background: $color-light;
        opacity: 0.8;
        filter: opacity(0.8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @extend .absolute;
    }
    .plus {
        background: $color-dark;
        width: 2rem;
        height: 2rem;
        z-index: 3;
        @extend .absolute;
                right: 1rem;
                top: 1rem;
        border-radius: 50%;
        &:before,
        &:after {
            @extend .absolute;
            content: '';
            background: $color-light;
            width: 1rem;
            height: 2px;
            top: 15px;
            left: 8px;
        }
        &:after {
            transform: rotate(90deg);
        }
    }
    &:hover {
        &:after {
            background: $color-dark;
            opacity: 1;
            filter: opacity(1);
        }
        .plus {
            background: $color-light;
            &:before,
            &:after {
                background: $color-dark;
            }
        }
        h4 {
            @extend .block,
                    .absolute,
                    .align-self-center,
                    .justify-center;
            color: $color-light;
            z-index: 1;
        }
    }
    @include breakpoint('large') {
        margin-bottom: 0;
        img {
            height: 450px;
        }
    }
}


// --- Portfolio: Modals ------------------------- //

#portfolioModal {
    &.modal-is-visible {
        position: absolute;
        background: #fff;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    .modal {
        .video {
            padding-bottom: 6rem;
            video {
                max-width: 100%;
                width: 100vw;
            }
        }
        .quote {
            color: $color-dark;
            padding: 0 $wrapper--large;
            margin: 3rem 0;
            line-height: 2rem;
        }
        .button-wrap {
            padding: $wrapper--large;
        }
        .technology {
            background: $color-medium;
            padding: 6rem;
            h4 {
                @extend .text-center;
                color: $color-dark;
                font-family: $font-title;
                letter-spacing: 1px;
                font-size: clamp(1.5rem, 7vw, 1.5rem);
            }
        }
    }
    .title {
        height: 50px;
        .dark {
            bottom: 0rem;
        }
        .title-accent {
            left: 0rem;
        }
    }
    @include breakpoint('medium') {
        .modal {
            .video {
                padding-bottom: 12rem;
            }
            .quote {
                top: 12rem;
                padding: 0 8rem;
                margin: 6rem auto;
                max-width: 900px;
            }
            .technology {
                h4 {
                    font-size: clamp(2rem, 7vw, 2rem);
                }
            }
        }
    }
    @include breakpoint('large') {
        .title {
            height: 200px;
            .dark {
                bottom: -2rem;
            }
        }
    }
}


// --- Clients ------------------------- //
#clients {
    margin-top: 4rem;
    @include breakpoint('medium') {
        margin-top: 8rem;
    }
}


// --- Slideshow ------------------------- //
.slideshow {
    overflow-x: scroll;
    @extend .flex,
            .items-center;
    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-light;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-dark;
    }
    .slide {
        padding: 0 3rem;
        margin-bottom: 4rem;
        display: inline-block;
        img {
            width: 150px;
            object-fit: contain;
            filter: grayscale(1);
        }
    }
    @include breakpoint('medium') {
        .slide {
            padding: 0 6rem;
        }
    }
}


// --- Contact ------------------------- //
#contact {
    margin: 4rem 0;
    h5 {
        @extend .text-center;
    }
    form {
        padding: $wrapper--medium;
        padding-bottom: 0;
    }
    @include breakpoint('medium') {
        margin: 8rem 0;
        form {
            max-width: 700px;
            margin: 0 auto;
        }
        .large--width-50 {
            width: calc(50% - 3px);
        }
    }
}


// --- Footer ------------------------- //
footer {
    background: $color-dark;
    @extend .relative;
    a {
        @extend .relative,
                .inline-block;
        &:after {
            content: '';
            @extend .block;
            border-bottom: 2px solid $color-light;
            transform: scaleX(0);  
            transform-origin: 0% 50%;
            transition: transform 250ms ease-in-out;
        }
        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
        &:focus {
            outline: 3px solid $color-light;
            outline-offset: 1px;
        }
    }
    * {
        color: $color-light;
    }
    &:before,
    &:after {
        content: '';
        @extend .absolute;
        background: $color-light;
        height: 4px;
        width: 100%;
    }
    &:before {
        top: 8px;
    }
    &:after {
        bottom: 8px;
    }
    .flex {
        @extend .flex,
                .flex-column,
                .items-start,
                .justify-between;
                padding: 2rem 2rem 0 2rem;
    }
    ul {
        order: 2;
        margin-bottom: 4rem;
    }
    h6,li {
        margin-bottom: 1rem;
    }
    copyright {
        @extend .block,
                .text-center;
        padding: 2rem 0 1.5rem 0;
        font-size: 11px;
    }
    @include breakpoint('medium') {
        .flex {
            max-width: 800px;
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            padding: 4rem 2rem 0;
        }
        ul {
            margin-bottom: 0;
        }
        ul,
        .logo {
            order: initial;
        }
    }
}